* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gris: #9d9d9c;
  --orange: #ec6838;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}
h1 {
  color: red;
}
h4 {
  color: red;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  vertical-align: bottom;
  width: 100%;
}

/* @font-face {
  font-family: "bodo_amat(font construite avec squirrel generator)";
  src: url("../fonts/bodo_amat-webfont.woff2") format("woff2"),
    url("../fonts/bodo_amat-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

body {
  background: url("../imge/back-admin.png");
  background-size: 100%;
  color: orange;
  font: 400 16px/1.4 "Indie Flower", sans-seriff;
  text-align: center;
  background-repeat: no-repeat;
}

label {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 17px;
  padding: 10px;
  border-radius: 9px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.flexcol {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

#container {
  background-color: orange;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 30%;
  border-radius: 5%;
  border: 2px solid black;
}

#buttons li a {
  text-decoration: none;
  color: red;
  background-color: orange;
  width: 15rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50% 20% / 10% 40%;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: red;
  width: 15rem;
  border-radius: 50% 20% / 10% 40%;
}

#valider {
  margin: 1rem auto;
  display: inline;
  padding: 0.3rem;
  background-color: rgb(248, 102, 48);
  font-weight: bold;
  width: 20%;
}

footer {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
}
span {
  margin: 1rem;
}
input {
  margin: 1rem;
}